body{
    background-color: black;
}
#box{
    margin: auto;
    height: 800px;
    width: 100%;
    text-align: center;
}
#mainBox{
    margin: 0 auto;
    height: 800px;
    width: 600px;
    background-color: dimgray;
    overflow: hidden;
}
#mainBox>#gameBox{
    height: 100%;
    width: 75%;
    margin-left: 0px;
    background-color: grey;
    float: left;
}
#mainBox>#scoreBox{
    height: 100%;
    width: 25%;
    margin-right: 0px;
}
#gameBox div{
    height: 48px;
    width: 48px;
    border: 1px darkgray solid;
    float: left;
}
.pie{
    background-color: goldenrod;
}
.jam{
    background-color: greenyellow;
}